<h1><%= t('.edit_user') %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %> 
  <div class="actions">
    <%= f.submit t('.update') %>
    <%= button_tag t('.cancel'),:type => 'button',:class => "subBtn",
                  :onclick => "location.href = '#{root_path}'" %>
  </div>
<% end %>
<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target = "_blanc"><%= t('.change') %></a>
</div>