<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        Posts<%= @user.userposts.count %>
      </h1>
      <% unless @user.userposts.empty? %> 
        <table class="userposts" summary="User userposts">
          <%= render @userposts %>
        </table>
        <%= will_paginate @userposts %> 
      <% end %>
    </td>
  </tr>
</table>