<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="userpost">
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content"><%= wrap(feed_item.content) %></span>
    <span class="timestamp">
      <%= t('.posted') %> <%= time_ago_in_words(feed_item.created_at) %> <%= t('.ago') %>
        <% if current_user?(feed_item.user) %>
          <%= link_to t('.edit'), edit_userpost_path(feed_item) %> |
          <%= link_to t('.delete'), feed_item, :method => :delete,
                                           :confirm => t('.you_sure'),
                                           :title => feed_item.content %>
        <% end %>
    </span>
  </td>
</tr>