<%= form_for @userpost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
    <%= button_tag "Cancel",:type => 'button',:class => "subBtn",
                  :onclick => "location.href = '#{root_path}'" %>
  </div>
<% end %>