<tr>
  <td class="userpost">
    <span class="content"><%= wrap(userpost.content) %></span>
    <span class="timestamp">
      <%= t('.posted') %> <%= time_ago_in_words(userpost.created_at) %> <%= t('.ago') %>
      <% if current_user?(userpost.user) %>
        <%= link_to t('.edit'), edit_userpost_path(userpost) %> |
        <%= link_to t('.delete'), userpost, :method => :delete,
                                        :confirm => t('.you_sure'),
                                        :title => userpost.content %>
      <% end %>
    </span>
  </td>
</tr>